@keyframes heart-beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.99);
  }
}

.ani-heart-beat {
  animation: heart-beat 2s ease-in-out infinite;
}


@keyframes infinite-spin {
  100% {
    transform: rotate(360deg);
  }
}

.ani-spin {
  animation: infinite-spin 3s infinite linear;
}

@keyframes yoyo {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-4px);
  }

  75% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0);
  }
}

.ani-yoyo {
  animation: yoyo 2s infinite alternate;
}


@keyframes shimmer {
  0% {
    transform: translateX(-50%);
  }

  25% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.ani-shimmer {
  animation: shimmer 4s infinite;
}

@keyframes jump-1 {
  0% {
    transform: translateY(0);
  }
  
  20% {
    transform: translateY(-15px);
  }
  
  60% {
    transform: translateY(0);
  }
}

@keyframes jump-2 {
  0% {
    transform: translateY(0);
  }
  
  40% {
    transform: translateY(-15px);
  }
  
  80% {
    transform: translateY(0);
  }
}

@keyframes jump-3 {
  0% {
    transform: translateY(0);
  }
  
  60% {
    transform: translateY(-15px);
  }
  
  100% {
    transform: translateY(0);
  }
}
