@import '../variables/color.scss';

//background
.bg-mint{background-color: $mint !important;}
.bg-primary {background-color: $primary !important;}
.bg-primaryLight {background-color: $primaryLight !important;}
.bg-primaryPale {background-color: $primaryPale !important;}
.bg-secondary {background-color: $secondary !important;}
.bg-secondaryLight {background-color: $secondaryLight !important;}
.bg-secondaryPale {background-color: $secondaryPale !important;}
.bg-secondaryDarkPale {background-color: $secondaryDarkPale !important;}
.bg-tertiary {background-color: $tertiary !important;}
.bg-tertiaryLight {background-color: $tertiaryLight !important;}
.bg-tertiaryPale {background-color: $tertiaryPale !important;}
.bg-tertiaryDarkPale {background-color: $tertiaryDarkPale !important;}
.bg-orange {background-color: $orange !important;}
.bg-orangeLight {background-color: $orangeLight !important;}
.bg-orangePale {background-color: $orangePale !important;}
.bg-orangeDarkPale {background-color: $orangeDarkPale !important;}
.bg-purple {background-color: $purple !important;}
.bg-purpleLight {background-color: $purpleLight !important;}
.bg-purplePale {background-color: $purplePale !important;}
.bg-purpleDarkPale {background-color: $purpleDarkPale !important;}
.bg-disabled {background-color: $disabled !important;}
.bg-outline {background-color: $outline !important;}
.bg-black {background-color: $black !important;}
.bg-white {background-color: $white !important;}
.bg-offWhite {background-color: $offWhite !important;}
.bg-link {background-color: $link !important;}
.bg-bluePale {background-color: $bluePale !important;}
.bg-pinkPale {background-color: $pinkPale !important;}
.bg-error {background-color: $error !important;}
.bg-errorDark {background-color: $errorDark !important;}
.bg-errorLight {background-color: $errorLight !important;}
.bg-success {background-color: $success !important;}
.bg-successDark {background-color: $successDark !important;}
.bg-successLight {background-color: $successLight !important;}
.bg-warning {background-color: $warning !important;}
.bg-warningDark {background-color: $warningDark !important;}
.bg-warningLight {background-color: $warningLight !important;}
.bg-lightGrey {background-color: $lightGrey !important;}

//border
.border-mint {border-color: $mint !important;}
.border-primary {border-color: $primary !important;}
.border-primaryLight {border-color: $primaryLight !important;}
.border-primaryPale {border-color: $primaryPale !important;}
.border-secondary {border-color: $secondary !important;}
.border-secondaryLight {border-color: $secondaryLight !important;}
.border-secondaryPale {border-color: $secondaryPale !important;}
.border-secondaryDarkPale {border-color: $secondaryDarkPale !important;}
.border-tertiary {border-color: $tertiary !important;}
.border-tertiaryLight {border-color: $tertiaryLight !important;}
.border-tertiaryPale {border-color: $tertiaryPale !important;}
.border-tertiaryDarkPale {border-color: $tertiaryDarkPale !important;}
.border-orange {border-color: $orange !important;}
.border-orangeLight {border-color: $orangeLight !important;}
.border-orangePale {border-color: $orangePale !important;}
.border-orangeDarkPale {border-color: $orangeDarkPale !important;}
.border-purple {border-color: $purple !important;}
.border-purpleLight {border-color: $purpleLight !important;}
.border-purplePale {border-color: $purplePale !important;}
.border-purpleDarkPale {border-color: $purpleDarkPale !important;}
.border-disabled {border-color: $disabled !important;}
.border-outline {border-color: $outline !important;}
.border-black {border-color: $black !important;}
.border-white {border-color: $white !important;}
.border-offWhite {border-color: $offWhite !important;}
.border-link {border-color: $link !important;}
.border-bluePale {border-color: $bluePale !important;}
.border-pinkPale {border-color: $pinkPale !important;}
.border-error {border-color: $error !important;}
.border-errorDark {border-color: $errorDark !important;}
.border-errorLight {border-color: $errorLight !important;}
.border-success {border-color: $success !important;}
.border-successDark {border-color: $successDark !important;}
.border-successLight {border-color: $successLight !important;}
.border-warning {border-color: $warning !important;}
.border-warningDark {border-color: $warningDark !important;}
.border-warningLight {border-color: $warningLight !important;}
.border-lightGrey {border-color: $lightGrey !important;}


// color
.text-mint {color: $mint !important;}
.text-primary {color: $primary !important;}
.text-primaryLight {color: $primaryLight !important;}
.text-primaryPale {color: $primaryPale !important;}
.text-secondary {color: $secondary !important;}
.text-secondaryLight {color: $secondaryLight !important;}
.text-secondaryPale {color: $secondaryPale !important;}
.text-secondaryDarkPale {color: $secondaryDarkPale !important;}
.text-tertiary {color: $tertiary !important;}
.text-tertiaryLight {color: $tertiaryLight !important;}
.text-tertiaryPale {color: $tertiaryPale !important;}
.text-tertiaryDarkPale {color: $tertiaryDarkPale !important;}
.text-orange {color: $orange !important;}
.text-orangeLight {color: $orangeLight !important;}
.text-orangePale {color: $orangePale !important;}
.text-orangeDarkPale {color: $orangeDarkPale !important;}
.text-purple {color: $purple !important;}
.text-purpleLight {color: $purpleLight !important;}
.text-purplePale {color: $purplePale !important;}
.text-purpleDarkPale {color: $purpleDarkPale !important;}
.text-disabled {color: $disabled !important;}
.text-outline {color: $outline !important;}
.text-black {color: $black !important;}
.text-white {color: $white !important;}
.text-offWhite {color: $offWhite !important;}
.text-link {color: $link !important;}
.text-bluePale {color: $bluePale !important;}
.text-pinkPale {color: $pinkPale !important;}
.text-error {color: $error !important;}
.text-errorDark {color: $errorDark !important;}
.text-errorLight {color: $errorLight !important;}
.text-success {color: $success !important;}
.text-successDark {color: $successDark !important;}
.text-successLight {color: $successLight !important;}
.text-warning {color: $warning !important;}
.text-warningDark {color: $warningDark !important;}
.text-warningLight {color: $warningLight !important;}
.text-lightGrey {color: $lightGrey !important;}