$mint: #07D0B5;
$primary: #1E1E1E;
$primaryLight: #666666;
$primaryPale: #C4C4C4;
$secondary: #00BFA5;
$secondaryLight: #71D2C9;
$secondaryPale: #E0F2F1;
$secondaryDarkPale: #B3D0CD;
$tertiary: #FCD801;
$tertiaryLight: #FFE75B;
$tertiaryPale: #D3CFB8;
$tertiaryDarkPale: #D3CFB8;
$orange: #FF8058;
$orangeLight: #FDA06D;
$orangePale: #FFEEDE;
$orangeDarkPale: #D8C1B5;
$purple: #7854C5;
$purpleLight: #9C77EC;
$purplePale: #F0E6FF;
$purpleDarkPale: #C3BAD7;
$disabled: #8E8E8E;
$outline: #E0E0E0;
$black: #000000;
$white: #FFFFFF;
$offWhite: #F7F7FC;
$link: #0066CC;
$bluePale: #A3CCFF;
$pinkPale: #FFC5F8;
$error: #D81B60;
$errorDark: #AD1457;
$errorLight: #FCE4EC;
$success: #1DE9B6;
$successDark: #00BFA5;
$successLight: #E0F2F1;
$warning: #FFB240;
$warningDark: #CC7A00;
$warningLight: #FFF3E0;
$lightGrey: #F5F5F5;

