$img: '/static';
$breakpoint-xl: 1200px;
$content-size: 1100px;

$round-xs: 4px;
$round-sm: 8px;
$round-md: 12px;
$round-lg: 16px;
$round-xl: 20px;
$round-2xl: 24px;
$round-xxl: 400px;
$round-full: 50%;
$round-max: 99999px;
